body {
    width: 1240px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    &__title {
        font-family: 'DM-sans', sans-serif;
        color: #D04F4F;
        margin-top: 5px;
    }
    &__logo {
        width: 47px;
    }
}

.search {
    &__input {
        background: #E7E7E7;
        border-radius: 5px;
        width: 100%;
        border: 0;
        height: 60px;
        padding-left: 1rem;
        outline: none;
        font-size: 16px;
    }
}