.filter {
    padding-top: 1rem;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &__buttons {
        display: flex;
        column-gap: 1rem;
    }
    &__button {
        padding: 1.2rem 1rem;
        border-radius: 5px;
        border: 0;
        color: white;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        cursor: pointer;
        justify-content: space-between;
        flex-direction: inherit;
    }
    &__dropdown {
        width: 30rem;
        display: none;
        border-radius: 5px;
    }
    &__button[open="true"] {
        width: 100%;
        flex-direction: column;
        border-radius: 5px 5px 0 0;
    }
    &__chevron {
        color: white;
        cursor: pointer;
    }
    &__chevron[open="true"] {
        transform: rotate(180deg);
    }
    &__button[open="false"] {
        width: auto;
        flex-direction: inherit;
        border-radius: 5px;
    }
    &__chevron[open="false"] {
        transform: rotate(0deg);
    }
    &__title_chevron {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    &__filters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        border-radius: 0 0 5px 5px;
        padding: 1rem;
    }
    &__filters[open="true"] {
        width: 30rem;
    }
    &__filters[open="false"] {
        width: auto;
    }
    &__element_name {
        cursor: pointer;
        text-align: start;
        color: white;
        margin-top: 0;
    }
    &__element_name:hover {
        text-decoration: underline;
    }
    &__filters_class {
        z-index: 1;
    }
    &__input {
        border: 0;
        outline: none;
        font-size: 20px;
        color: white;
    }
    &__input::placeholder {
        color: white;
        opacity: 50%;
    }
    &__results {
        display: flex;
        column-gap: 1rem;
    }
    &__result {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        align-items: center;
        border: 0;
        border-radius: 5px;
        padding: .7rem;
        color: white;
        cursor: pointer;
    }
    &__close {
        color: white;
        font-size: 18px;
    }
    &__1 {
        background: #3282F7;
    }
    &__2 {
        background: #68D9A4;
    }
    &__3 {
        background: #ED6454;
    }
}