.filter {
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.filter__buttons {
  display: flex;
  column-gap: 1rem;
}
.filter__button {
  padding: 1.2rem 1rem;
  border-radius: 5px;
  border: 0;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: inherit;
}
.filter__dropdown {
  min-width: 14rem;
  max-width: 30rem;
  display: none;
  border-radius: 5px;
}
.filter__dropdown[closed=true] {
  display: none;
}
.filter__button[open=true] {
  width: 100%;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
}
.filter__chevron {
  color: white;
  cursor: pointer;
}
.filter__chevron[open=true] {
  transform: rotate(180deg);
}
.filter__button[open=false] {
  width: auto;
  flex-direction: inherit;
  border-radius: 5px;
}
.filter__chevron[open=false] {
  transform: rotate(0deg);
}
.filter__title_chevron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.filter__filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  column-gap: 1rem;
}
.filter__filters[open=true] {
  width: 30rem;
}
.filter__filters[open=false] {
  width: auto;
}
.filter__element_name {
  cursor: pointer;
  text-align: start;
  color: white;
  margin-top: 0;
  font-size: 14px;
}
.filter__element_name:hover {
  text-decoration: underline;
}
.filter__hide_selected_filter {
  display: none;
}
.filter__filters_class {
  z-index: 1;
}
.filter__input {
  border: 0;
  outline: none;
  font-size: 20px;
  color: white;
  width: 100%;
}
.filter__input::placeholder {
  color: white;
  opacity: 50%;
}
.filter__results {
  display: flex;
  column-gap: 1rem;
}
.filter__result {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  align-items: center;
  border: 0;
  border-radius: 5px;
  padding: 0.7rem;
  color: white;
}
.filter__close {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.filter__1 {
  background: #3282F7;
}
.filter__2 {
  background: #68D9A4;
}
.filter__3 {
  background: #ED6454;
}
.filter__filters_class[closed=true] {
  display: none;
}
.filter__button[closed_buttons=true] {
  display: flex;
}
.filter__filters_class[filters_initial_state=true] {
  position: relative;
  margin-left: 0;
}
.filter__ingredients_button[hidden=true] {
  display: none;
}
.filter__ingredients_button[hidden=false] {
  display: flex;
}
.filter__appareils_button[hidden=true] {
  display: none;
}
.filter__appareils_button[hidden=false] {
  display: flex;
}
.filter__ustensiles_button[hidden=true] {
  display: none;
}
.filter__ustensiles_button[hidden=false] {
  display: flex;
}
.filter__ingredients[open=true] {
  display: block;
}
.filter__ingredients[open=false] {
  display: none;
}
.filter__appareils[open=true] {
  display: block;
}
.filter__appareils[open=false] {
  display: none;
}
.filter__ustensiles[open=true] {
  display: block;
}
.filter__ustensiles[open=false] {
  display: none;
}
.filter__class_ingredients[filter_open=true] {
  position: absolute;
}
.filter__class_ingredients[filter_open=false] {
  position: relative;
  margin-left: 0;
}
.filter__class_appareils[filter_open=true] {
  position: absolute;
  margin-left: 9rem;
}
.filter__class_appareils[filter_open=false] {
  position: relative;
  margin-left: 0;
}
.filter__class_ustensiles[filter_open=true] {
  position: absolute;
  margin-left: 17rem;
}
.filter__class_ustensiles[filter_open=false] {
  position: relative;
  margin-left: 0;
}
.filter__class_appareils[ingredients_open_sup_3=true] {
  margin-left: 31rem;
}
.filter__class_appareils[ingredients_open_2=true] {
  margin-left: 25rem;
}
.filter__class_appareils[ingredients_open_1=true] {
  margin-left: 15rem;
}
.filter__ingredients[ingredients_open_3=true] {
  width: 30rem;
}
.filter__ingredients[ingredients_open_2=true] {
  width: 24rem;
}
.filter__ingredients[ingredients_open_1=true] {
  width: 14rem;
}
.filter__class_ingredients[absolute=true] {
  position: absolute;
}
.filter__class_appareils[absolute=true] {
  position: absolute;
}
.filter__class_ustensiles[absolute=true] {
  position: absolute;
}
.filter__class_ingredients[relative=true] {
  position: relative;
}
.filter__class_appareils[relative=true] {
  position: relative;
}
.filter__class_ustensiles[relative=true] {
  position: relative;
}
.filter__class_ustensiles[appareil_open_1=true] {
  margin-left: 19rem;
}
.filter__class_ustensiles[appareil_open_2=true] {
  margin-left: 20rem;
}
.filter__class_ustensiles[appareil_open_3=true] {
  margin-left: 25rem;
}

body {
  width: 1240px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.header__title {
  font-family: "DM-sans", sans-serif;
  color: #D04F4F;
  margin-top: 5px;
}
.header__logo {
  width: 47px;
}

.search__wrapper {
  display: flex;
  align-items: center;
}
.search__icon {
  position: relative;
  right: 3rem;
  font-size: 25px;
  cursor: pointer;
}
.search__input {
  background: #E7E7E7;
  border-radius: 5px;
  width: 100%;
  border: 0;
  height: 60px;
  padding-left: 1rem;
  outline: none;
  font-size: 16px;
}

.recipes {
  margin-top: 2rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  padding-bottom: 4rem;
}
.recipes__recipe {
  background: #E7E7E7;
  border-radius: 5px;
  width: 380px;
  height: 360px;
}
.recipes__details {
  padding: 0.8rem;
}
.recipes__title_time {
  display: flex;
  justify-content: space-between;
}
.recipes__title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.recipes__time {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.recipes__time_value {
  font-weight: bold;
}
.recipes__icon {
  font-size: 22px;
}
.recipes__ingredients_description {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
}
.recipes__ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
}
.recipes__ingredient_name {
  font-weight: bold;
  margin: 1px;
  font-size: 12px;
}
.recipes__ingredient_value {
  margin: 1px;
  font-size: 12px;
}
.recipes__ingredients_description {
  display: flex;
  justify-content: space-between;
}
.recipes__description {
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}
.recipes__ingredients {
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
